[Unit]
Description=Jupyter Notebook
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/bin/bash -c ". /usr/local/bin/start-jupyter.sh"
User=learner
Group=learner
WorkingDirectory=/home/learner
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target